body {
  background: #c2c2d6;
}
.calculator {
  border: 2px solid #850000;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:200px;
}
.display{
  font-size: 17px;
  position: relative;
  margin-top: 3px;
  margin-bottom: 2px;
  border:1px solid gray;
  padding: 5px;
  background: black;
  width: 320px;
  height: 50px;
  box-sizing:border-box;
  color: orange;
  text-align:right;
  overflow-wrap: break-word;
  overflow-y: scroll;
}
.display2{
  font-size: 17px;
  position: relative;
  margin-bottom: 2px;
  border:1px solid gray;
  padding: 5px;
  background: black;
  width: 320px;
  height: 50px;
  box-sizing:border-box;
  color: white;
  text-align:right;
}
.buttons_div{
 background: black;
 width: 320px;
 margin-right:auto;
 margin-left:auto;
}
button{
  height: 65px;
  width: 80px;
  color: white;
  margin-bottom: 1px;
  outline: 1px solid black;
  border: none;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;

}
.zero_button{
width: 160px;
}
.AC_button{
width: 160px;
background-color:rgb(196, 65, 65);
}
.equal_button{
position:absolute;
height: 131px;
top:307px;
left:246px;
background: rgb(0, 68, 102);
}
button:hover{
border:2px solid gray;
color:black;

}